label for="name" Name:
input#name type="text" name="student[name]" value="#{@student.name}"
label for="course" Course Enrolled:
input#course type="text" name="student[course]" value="#{@student.course}"
label for="emailid" Contact:
input#emailid type="text" name="student[emailid]" value="#{@student.emailid}"
br
br
input type="submit" value="Save Info"